@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-step-list;
  
  --cells-step-step-separator__wedge: #{unquote('{
    display: none;
  }')};

  cells-st-button {
    display: flex;
    margin: 2rem 0 0.5rem 0;

    button {
      margin: auto;
      font-size: var(--cells-text-size-15, #{rem(15px)});
      font-weight: var(--cells-fontDefaultMedium, 500);
    }
  }
}

:host([collapsed]) {
  color: var(--bbva-white, #FFF);
  cells-key-values {
    font-size: var(--cells-text-size-15, rem(15px));
    --cells-key-values-value-font-size: var(--cells-text-size-15, rem(15px));
    --cells-key-values-color: var(--bbva-white, #fff);
    --cells-key-values-key-color: var(--bbva-white, #fff);
    @apply --cells-fontDefaultLight;
    --cells-key-values-inline-value: #{unquote('{
      font-size: var(--cells-text-size-15, #{rem(15px)});
    }')};
    --cells-key-values-value: #{unquote('{
      font-size: var(--cells-text-size-15, #{rem(15px)});
    }')};
    --cells-key-values: #{unquote('{
      margin-bottom: #{rem(12px)};
    }')};
    &.value-italic {
      --cells-key-values-value: #{unquote('{
        font-style: italic;
      }')};
    }
    &.key-bold {
      --cells-key-values-key: #{unquote('{
        font-weight: 500;
        @apply --cells-fontDefaultMedium;
      }')};
      --cells-key-values-inline-key: #{unquote('{
        font-weight: 500;
        @apply --cells-fontDefaultMedium;
      }')};
    }
  }
  cells-key-values:not(.inline) {
    display: block;
  }
}

:host(.no-padding-button-top){
  --cells-step-header: {
    padding: 0 1rem;
  };
  --cells-step-filled: {
    padding: 1rem 1rem 0 1rem ;
  }
}

.full {
  padding: 0 #{rem(16px)};
  
  .cells-step-list__description {
    line-height: 1.75;
    margin-top: 0;

    @apply --cells-step-list-description;
  }

  cells-key-values {
    --cells-key-values: #{unquote('{
      margin-bottom: #{rem(12px)};
    }')};
  }

  @apply --cells-step-list-full;
}

:host(:not([active])) {
  p {
    opacity: 0.1;
  }
}